/* Base */

body {
  height: 100%;
  transition: 1s all;
  margin: 0 auto;
  background: #FD6EA2;
  color: #FFF;
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
li {
  margin-bottom: 1.5em;
}

/* Backgrounds */

.bg1 {
  background: #23AD5E;
  color: #FFFFFF;
}
.bg2 {
  background: #3200DD;
  color: #FFFFFF;
}
.bg3 {
  background: #F24440;
  color: #FFFFFF;
}
.bg4 {
  background: #2654FF;
  color: #FFFFFF;
}
.bg5 {
  background: #00B9DE;
  color: #FFFFFF;
}
.bg6 {
  background: #FD6EA2;
  color: #FFFFFF;
}
.bg7 {
  background: #0F072E;
  color: #FFFFFF;
}

/* Layout */

.Flex {
  display: flex;
}
.inner {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 7% 10%;
}
.max {
  max-width: 940px;
}
.Portfolio-content {
  max-width: 1400px;
}
.Company-section {
  margin: 80px 0 0 0;
  display: flex;
}
.Company-data {
  width: 40%;
  margin-right: 50px;
  margin-bottom: 20px;
}
.Company-projects {
  width: 60%;
}

/* Font */

.home p {
  font-size: 4.5em;
  line-height: 1.2em;
  margin-bottom: 120px;
}
.underline {
  background-repeat: repeat-x;
}
.underline--burntbacon {
  background-image: url("burnt-bacon.svg");
  background-position: 0 1.2em;
  background-size: 80px 20px;
}
.underline--burntbacon:hover {
  color: #0F072E;
}
.email {
  word-break: break-word;
}
.Link:hover {
  color: #0F072E;
}
.Company {
  font-size: 2em;
}
.Company-info {
  font-size: 1.5em;
}

.Portfolio-list {
  font-size: 3em;
  color: #fff;
  display: inline;
  line-height: 1.2em;
  background-image: url("raw-bacon.svg");
  background-position: 0 2.5em;
  background-size: 60px 115px;
}
.Portfolio-list:hover {
  color: #FD6EA2;
}
.Portfolio-h2 {
  font-size: 5em;
  line-height: 1.2em;
  margin-top: 50px;
  margin-bottom: 25px;
}
.Portfolio-p {
  font-size: 2.4em;
  line-height: 1.4em;
  padding: 25px 0;
  font-weight: 500;
}
.Portfolio-link {
    background-image: url("raw-bacon.svg");
    background-position: 0 1.2em;
    background-size: 40px 5px;
    background-repeat: repeat-x;
}
.Portfolio-link:hover {
  color: #FD6EA2;
}

/* Back Arrow */

.Top50 {
  margin-top: 5%;
}
.Arrow {
  padding-right: 10px;
}
.Back {
  font-size: 20px;
  background-image: url("raw-bacon.svg");
  background-position: 0 2.4em;
  background-size: 40px 40px;
}
.Back:hover {
  color: #FD6EA2;
  background-image: url("raw-bacon.svg");
}

/* Assets */

.Portfolio-image {
  width: 100%;
  margin: 2% 0%;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20), 0 2px 12px 7px rgba(0,0,0,0.05);
}
.Portfolio-web {
  width: 100%;
  margin: 2% 0%;
}
.Portfolio-video {
  position: relative;
  margin: 2% 0%;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 300px) and (max-width: 720px) {

  /* Layout */

  .inner {
    padding: 5% 5%;
  }
  .Company-section {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .Company-data {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .Company-projects {
    width: 100%;
  }
  .Company-info {
    display: none;
  }
  .Portfolio-content {
    max-width: 100%;
  }

  /* Font */

  .home p {
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: 50px;
  }
  .underline--burntbacon {
    background-position: 0 1em;
    background-size: 50px 20px;
  }
  .Company {
    font-size: 1.2em;
  }
  .Portfolio-list {
    font-size: 2em;
    line-height: 1em;
    background-position: 0 0.7em;
    background-size: 60px 50px;
  }
  .Portfolio-h2 {
    font-size: 3em;
    line-height: 1.2em;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .Portfolio-p {
    padding: 15px 0;
    font-size: 2em;
    line-height: 1.3em;
  }

  /* Assets */

  .Portfolio-image {
    border-radius: 2px;
  }
}
